[Desktop Entry]
Type = Application
Encoding = UTF-8
Name = (0)_RESET
Exec = python3 /home/pi/Desktop/Educational_Duffing_Oscillator_for_Displaying_Chaotic_Motion/Program_Files/Codes/reset.py
Icon =/home/pi/mu_code/code/hamster.jpeg
StartupNotify = false
Terminal = true
