[Desktop Entry]
Type = Application
Encoding = UTF-8
Name = (1)_Main_pt1
Exec = python3 /home/pi/Desktop/Educational_Duffing_Oscillator_for_Displaying_Chaotic_Motion/Program_Files/Codes/main_pt1.py
Icon =/home/pi/mu_code/code/hamster.jpeg
StartupNotify=true
Terminal = false
