[Desktop Entry]
Type = Application
Encoding = UTF-8
Name = (2)_Main_pt2
Exec = python3 /home/pi/Desktop/Educational_Duffing_Oscillator_for_Displaying_Chaotic_Motion/Program_Files/Codes/main_pt2.py
Icon =/home/pi/mu_code/code/hamster.jpeg
StartupNotify=true
Terminal = false
