[Desktop Entry]
Type = Application
Encoding = UTF-8
Name = (3)_Interface
Exec = python3 /home/pi/Desktop/Educational_Duffing_Oscillator_for_Displaying_Chaotic_Motion/Program_Files/Codes/interface.py
Icon =/home/pi/mu_code/code/hamster.jpeg
StartupNotify=true
Terminal = true
