[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=(4a)_Solid_State_Relay_double.desktop
Exec=python3 /home/pi/Desktop/Educational_Duffing_Oscillator_for_Displaying_Chaotic_Motion/Program_Files/Codes/solid_state_relay_double.py
Icon=/home/pi/mu_code/code/hamster.jpeg
StartupNotify=true
Terminal=false
Name[en_US]=(4b)_Solid_State_Relay_double.desktop
